@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 45, 45);
}
.container {
  max-height: 80vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.clock #sec,
.sec {
  --color: #00ff55;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.clock #min,
.min {
  --color: #ffee00;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.clock #hr,
.hr {
  --color: #ff004c;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.clock {
  position: relative;
  height: 450px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1a1a1a;
  border: 4px solid rgba(256, 256, 256, 0.25);
  box-shadow: 0px 0px 80px rgba(0, 68, 255, 0.5),
    inset 5px 5px 10px rgba(0, 0, 0, 0.6), inset 5px 5px 25px rgba(0, 0, 0, 0.3),
    inset -5px -5px 10px rgba(0, 0, 0, 0.6);
}
.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 4;
}
.circle {
  position: absolute;
  width: 65%;
  height: 65%;
  border: 3px dashed rgba(256, 256, 256, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 3;
}
.circle i {
  width: 4px;
  height: 50%;
  border-radius: 10%;
  background-color: var(--color);
  transform-origin: bottom;
  transform: scaleY(0.55);
}
.circle2 {
  width: 55%;
  height: 55%;
  border: 3px dashed rgba(256, 256, 256, 0.1);
  border-radius: 50%;
  z-index: 2;
}
.circle3 {
  width: 45%;
  height: 45%;
  border: 3px dotted rgba(256, 256, 256, 0.1);
  border-radius: 50%;
  z-index: 1;
}
.circle:nth-child(1) i {
  width: 2px;
}
.circle:nth-child(3) i {
  width: 6px;
}
.clock span {
  position: absolute;
  color: #fff;
  inset: 20px;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
}
.clock span b {
  font-size: 2em;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}
.circle::before {
  position: absolute;
  top: -7.5px;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--color);
  box-shadow: 0px 0px 10px var(--color), 0px 0px 20px var(--color);
}
/* .time {
  display: flex;
  font-size: 2em;
  font-weight: 500;
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}
.time div {
  text-align: center;
  width: 60px;
  color: var(--color);
  text-shadow: 0px 0px 3px var(--color);
} */

@media screen and (max-width: 1000px) {
  .clock {
    height: 750px;
    width: 750px;
  }
  .clock span {
    font-size: x-large;
  }
  .circle,
  .circle2,
  .circle3 {
    border-width: 6px;
  }
}
